# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
*.iml
.idea/
*.ipr
*.iws

# Keystore files
*.jks
*.keystore

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx/

# Google Services (e.g. APIs or Firebase)
google-services.json

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Android Studio captures folder
captures/

# IntelliJ
out/

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
*.kotlin_module
